// @import '../../style.less';

.good_container {
    .container_header {
        padding-top: 35px;
        .btn {
            width: 156px;
            height: 33px;
            border-radius: 30px;
            display: inline-block;
        }
        .form {
            // display: inline-block;
            float: right;
            .searchBox{
                display: inline-block;
            }
            .select, .input{
                width: 185px;
                height: 33px;
            }
        }
    }
}
